[defaults]
inventory = inventory.ini
stdout_callback = default
interpreter_python = auto_silent
host_key_checking = False
become_method = sudo
remote_tmp = /tmp/ansible-tmp
allow_world_readable_tmpfiles = true

[ssh_connection]
pipelining = False